@media only screen and (min-width: 200px) and (max-width: 400px) {
	.textright{
font-size:14px !important;	
	color:#fff;
	font-weight:bold;
text-align:center !important;
	
	width:90%;
	margin-right:0px  !important;
}
.textright h2,h1{
	font-size:19px;
}
	.mynew{
		
		
	}
}
